.layout-product-detail-consumer {
  margin: 50px;
  .product-detail {
    display: flex;
    justify-content: space-between;
  }
  .product-image {
    width: 60vw;
    height: 75vh;
    margin-bottom: 30px;
    .image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 20px;
      background: #fff;
      padding: 20px;
    }
  }

  .info-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .product-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      background: #fff;
      width: 540px;
      border-radius: 20px;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      .title-card {
        font-size: 20px;
        font-weight: 600;
        border-bottom: 2px solid rgba(0, 0, 0, 0.623);
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

      .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .card-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          p {
            font-size: 20px;
          }
          span {
            border: 1px solid black;
            padding: 10px;
            border-radius: 10px;
            font-size: 16px;
          }
          .user {
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
